body{
    color:purple;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* p{
    font-style: italic;
} */
#p1{
    font-style: italic;
}
img{
    height: 500px;
    width: 500px;
}
@media (max-width:600px) {
    img{
        height: auto;
        width: 100%;
    }
    
}
video{
    height: 500px;

}
ol{
    list-style-type: lower-roman;
}
ul{
    list-style-type: disc;

}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
button:hover{
    background-color: rgb(0, 255, 0);
}
.pclass{
    font-size: xx-large;
}
nav{
    display: flex;
    flex-direction:column;
    background-color: black;
    border: 2px solid slategray;
    display:grid;
    grid-template-columns: 33% 33% 34%;
}
.grid{
    background-color: aqua;
    border: 2px solid black;
    display:grid;
    grid-template-columns: 33% 33% 34%;
    
}
.grid div{
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
}

@media (min-width:1024px){
    nav{
        display: flex;
        flex-direction: row;
        gap:50px;
    }
}